@font-face {
    font-family: 'daydreamthin';
    src: url('fonts/daydream-webfont.woff2') format('woff2'),
         url('fonts/daydream-webfont.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
}

#header, #content, #sidebar, #footer {
    box-shadow: 10px 10px rgb(50, 33, 55); 

    background-color: rgba(65, 49, 66,0.8);
}

H1 {
    font-family: 'daydreamthin';
    font-size: 24px;
}

#header{
    background-color: rgba(65, 49, 66,0.8);
    margin:auto;
    margin-top: 40px;
    padding-top:6px;
    padding-bottom: 6px;
    width: 640px;
    box-shadow: 10px 10px rgb(50, 33, 55);
}

#core {
    width: 640px;
    height: 340px;
    margin: auto;
    display: flex;
    margin-top: 40px;
    
}

#content{
    background-color: rgba(65, 49, 66,0.8);
    width: 480px;
}

#sidebar {
    width: 110px;
    margin-right: 50px;
}

#footer {
    width: 640px;
    margin: auto;
    margin-top: 40px;
}

ul {
    list-style: none;
    margin: auto;
    padding-left: 30px;   
    text-align: justify;
}

p                   { padding: 10px; }
a                   { text-decoration: none; }
a:link, a:visited   { color: rgb(170, 255, 157); }
a:hover             { color: rgb(85, 195, 110); }

@keyframes scrollBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 256px;
    }
}


body {
    text-align: center;
    color: white;
    width: 100%;
    min-height: 100%;
    background-color: #74726d;
    margin: auto;
    background-image: url(images/bak2.jpeg);
    
    /* Ensure the background image scrolls and tiles */
    background-attachment: fixed;
    background-size: auto; /* Remove scaling, tile the image */
    background-repeat: repeat; /* Tile the image */
    
    /* Animate the background */
    animation: scrollBackground 10s linear infinite;
}



#puzzle {
    width: 60px; 
    padding-top: 10px;
    padding-bottom: 10px;
}<div id="guestbook">
<h2> Guestbook </h2>
<embed type="text/html" src="https://moonfgc.atabook.org/" width="640" height="320">
</div>