@import url(css/animatons.css);
@import url(css/fonts.css);  

#header, #content, #sidebar, #footer {
    box-shadow:         10px 10px rgba(50, 33, 55,0.8); 
    background-color: rgba(65, 49, 66,0.8);
}

#header{
    background-color: rgba(65, 49, 66,0.8);
    margin:             auto;
    margin-top:         40px;
    padding-bottom:     6px;
    width:              800px;
    height:             80px;
}

#header h1 { 
    font-family:        'daydreamthin'; 
    text-shadow:        4px 4px #9a71cbb0;
    padding-top:        6px;
    margin-bottom:      0px; 
}

#header p {  
    text-shadow:        2px 2px #9a71cbb0;
    margin-top:         0px;
    padding-top:        8px;
}

#core {
    width:              800px;
    height:             500px;
    margin:             auto;
    display:            flex;
    margin-top:         60px;
}

#content{
    width:              680px;
    height:             100%;
}

#sidebar {
    width:              100px;
    margin-right:       20px;
}

#footer {
    width:              800px;
    margin:             auto;
    margin-top:         60px;
}
#footer a{
    margin-left:        20px;
    margin-right:       20px;
}

ul {
    list-style:         none;
    padding-left:       0px;   
    text-align:         center;
}

p                   { padding: 20px; }
a                   { text-decoration: none; }
a:link, a:visited   { color: rgb(170, 255, 157); }
a:hover             { color: rgb(85, 195, 110); }

body {
    text-align: center;
    color: white;
    width: 100%;
    min-height: 100%;
    background-color: #74726d;
    margin: auto;
    background-image: url(images/bak2.jpeg);
    
    /* Ensure the background image scrolls and tiles */
    background-attachment: fixed;
    background-size: auto; /* Remove scaling, tile the image */
    background-repeat: repeat; /* Tile the image */
    
    /* Animate the background */
    animation: scrollBackground 3s linear infinite;
    overflow: hidden;
}

#puzzle {
    width: 60px; 
    padding-top: 10px;
    padding-bottom: 10px;
}